.root{
  width: 100%;
  display: flex;
  justify-content: space-between;
  label{
    display: flex;
  }
  .name{
    gap: 5px;
    text-transform: capitalize;
    span{
      color: #333;
    }

    h5{
      font-size: 16px;
      font-weight: 400;
    }
  }

  .numbers{
    width: 22%;
    justify-content: space-between;
    align-items: center;
    
    @media (max-width: 500px) {
      width: 30%  ;
    }
    .count{
      color: #333;
      font-size: 13px;
    }

    .price{

    }
  }
}