.container{
  width: 90%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card{
    border: 0.5px solid rgba(204, 204, 204, 0.5);
    width: 300px;
    min-height: 300px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    .card_img{
      width: 100%;
      height: 170px;
      position: relative;
      img{
        width: 100%;
        object-fit: cover;
        height: 100%;
        position: absolute;
        padding: 5px;
        border-radius: 10px;
      }
    }
    .card_body{
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 10px 10px;
      .text{
        display: flex;
        justify-content: space-between;
        .text_content{
          width: 80%;
        }
        div{
          h3{
            margin-bottom: 20px;
            text-transform: capitalize;
          }
        }
      }
    }
    .edit_btn{
      display: flex;
      justify-content: space-evenly;
      gap: 20px;
      padding-top: 10px;
      .edit_text{
        background-color: transparent;
        color: green;
        font-size: 25px;

      }
      .remove{
        color: red;
        background-color: transparent;
        font-size: 25px;
      }
    }
  }
}